@use "_scss/global/default-width-style";
@use "_scss/global/color" as *;

.head {
  width: 100%;
  display: block;
  padding: 4rem 0 3rem;
  margin-bottom: 2rem;
  div {
    @extend .default-width-style;
    p {
      margin-bottom: 0.5rem;
      color: $gray-light;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
    }
    h1 {
      margin-bottom: 2rem;
      font-size: 2.25rem;
      line-height: 2.5rem;
      font-weight: 700;
    }
  }
}
.post {
  margin: 1rem 0.75rem 5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  h1 {
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.25rem;
    border-bottom: 0.15rem solid $red-main;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    border-bottom: 1px solid $red-main;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-bottom: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-bottom: 0.125rem;
    margin-bottom: 0.25rem;
  }
  h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 0.0625rem;
    margin-bottom: 0.125rem;
  }
  p {
    margin: 0.5rem 0;
  }

  // 画像
  figure {
    width: fit-content;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    figcaption {
      font-size: 0.875rem;
      line-height: 1.25rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
