@forward "_scss/global/color";
@use "_scss/global/color" as *;
@forward "_scss/global/tag/tag-color";
@use "_scss/global/tag/tag-color" as *;

// 背景色に応じて文字色を適用
// RGBの加重平均による明度の計算式…らしい(Bing Copilot)
@mixin text-color($bg-color) {
  $bg-brightness: red($bg-color) * 0.299 + green($bg-color) * 0.587 +
    blue($bg-color) * 0.114;
  $text-color: if($bg-brightness > 128, $black-text, $white-text);
  color: $text-color;
}

@mixin bg-color($map) {
  @each $key, $value in $map {
    .#{$key} {
      background-color: $value;
      @include text-color($value);
    }
  }
}

$languages: (
  Next-js: $Next-js,
  Javascript: $Javascript,
  Typescript: $Typescript,
  microCMS: $microCMS,
  tailwindcss: $tailwindcss,
  Notion: $Notion,
  scss: $scss,
);
.tag {
  li {
    border-radius: 0.5rem;
    box-shadow: 0px 3px 0 $gray-lighter;
    transition: 0.3s;
    position: relative;
    &:hover {
      text-decoration: underline;
    }
    &:active {
      transform: translate3d(0, 3px, 0);
      box-shadow: none;
    }
    & > a {
      display: block;
      padding: 0 0.75rem;
      &:active::before {
        border-radius: 0.5rem;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #67676733;
      }
    }
  }
  @include bg-color($languages);
}
