@forward "_scss/global/color";
@use "_scss/global/color" as *;
@forward "_scss/tag/tag-color";
@use "_scss/tag/tag-color" as *;
@use "_scss/global/float" as *;

// 背景色に応じて文字色を適用
// RGBの加重平均による明度の計算式…らしい(Bing Copilot)
@mixin text-color($bg-color) {
  $bg-brightness: red($bg-color) * 0.299 + green($bg-color) * 0.587 +
    blue($bg-color) * 0.114;
  $text-color: if($bg-brightness > 128, $black-text, $white-text);
  color: $text-color;
}

@mixin bg-color($map) {
  @each $key, $value in $map {
    .#{$key} {
      background-color: $value;
      @include text-color($value);
    }
  }
}

$languages: (
  Next-js: $Next-js,
  Javascript: $Javascript,
  Typescript: $Typescript,
  microCMS: $microCMS,
  tailwindcss: $tailwindcss,
  Notion: $Notion,
  scss: $scss,
);
.tag {
  li {
    @include float();
    &:hover {
      text-decoration: underline;
    }
  }
  @include bg-color($languages);
}
