@forward "li-color";

$white-background: #e8edf2;
$black-text: #0f172a; // slate-900
$red-main: #ef4444; // red-500
$white-text: #f8fafc; // slate-50
$gray-light: #94a3b8; // slate-400
$gray-lighter: #cbd5e1; // slate-300
