@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

@use "_scss/global/default-width-style";
@use "_scss/global/color" as *;

body {
  background-color: $white-background;
  color: $black-text;
  & > header > div {
    @extend .default-width-style;
    & > * {
      margin: 0 0.75rem;
    }
  }
  & > main {
    flex: 1 1 0%;
    & > div {
      @extend .default-width-style;
      & > * {
        margin: 0 0.75rem;
      }
    }
  }
  & > footer > div {
    @extend .default-width-style;
    & > * {
      margin: 0 0.75rem;
    }
  }
}
