@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

@use "_scss/global/_default-width-style.scss";
@use "_scss/global/_default-color.scss" as color;

body {
  background-color: color.$background-color;
  color: color.$text-color;
  & > header > div {
    @extend .default-width-style;
  }
  & > main {
    flex: 1 1 0%;
    & > div {
      @extend .default-width-style;
    }
  }
  & > footer > div {
    @extend .default-width-style;
  }
}
